<% content_for :head do %>
  <%= javascript_pack_tag 'main_vue' %>
  <%= stylesheet_pack_tag 'main_vue' %>
<% end %>

<div id ="main">
  <contact-component
    contact="<%= @contacts.to_json %>"
  >
  </contact-component>
</div>